<!DOCTYPE html>


<head>
    <title>Rastrear estado de entrega</title>
</head>


<body>
    <app-navbar></app-navbar>
    <app-header></app-header>
    <div class="conteiner">
        <section>
            <div>
                <h1>Rastrear Estado de Entrega</h1>
                <h3>Numero de Venta</h3>
                <input class="entrada" type="text">
                <h3>Codigo de Pago</h3>
                <input class="entrada" type="text"><br>
                <button>Buscar</button>
                <p></p>
            </div>
        </section>

        <section class="parte2">
            <div id="estado-entrega">
                <h4>Estado de entrega</h4>
                <p>------</p>
            </div>
            <div id="detalle">
                <h4>Origen</h4>
                <p>------</p>
                <h4>Destino</h4>
                <p>------</p>
                <h4>Recepcion</h4>
                <p>------</p>
                <h4>Destinario</h4>
                <p>------</p>
                <h4>Contenido</h4>
                <p>------</p>
            </div>
        </section>
    </div>
</body>