<!-- Home -->
<body id="body">
    <div class="enlaces" style="margin-left: 700px; ">
    <button class="switch" id="switch">
        <span><i class="fas fa-sun"></i></span>
        <span><i class="fas fa-moon"></i></span>
    </button>
    </div>

    <section class="home" id="home">
        <div class="home-text">
            <span style="color: #16b978;">Bienvenidos</span>
            <h1 class="cambio" style="color: #081b54;">Estamos más <br>cerca de ti!</h1>
            <p class="cambio">Llevamos alegría, esperanza y bienestar a todo el Perú</p>
            <a href="#" class="btn" style="color: #16b978; border: 2px solid #16b978; ">Nuestro Menú</a>
        </div>
        <div class="circular--landscape">
            <img src="../../../assets/imagenes/Transporte3.jpg" alt="">
        </div>
    </section>
    
    <!-- Shop -->
    <section class="shop" id="shop">
        <div class="heading">
            <h2>LOS MEJORES SERVICIOS DE TRANSPORTE</h2>
            <p>Contamos con una amplia flota de unidades de transporte que nos permiten el traslado de la más amplia gama de productos en sus diferentes modalidades.</p>
        </div>
        <div class="shop-container">
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/LargaDistancia.jpg" alt="">
                </div>
                <h3>TRANSPORTE DE LARGA DISTANCIA</h3>
                
            </div>
     
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/ComercioExterior.jpg" alt="">
                </div>
                <h3>OPERACIONES DE COMERCIO EXTERIOR</h3>
            </div>
     
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/img1.jpg" alt="">
                </div>
                <h3>TRANSPORTE BIMODAL</h3>
            </div>
     
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/Courrier.jpg" alt="">
                </div>
                <h3>GESTIÓN DE COURRIER</h3>
            </div>
     
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/Química.jpg" alt="">
                </div>
                <h3>CARGA QUÍMICA Y MINERÍA</h3>
            </div>
     
            <div class="shop-box">
                <div class="shop-img">
                    <img src="../../../assets/imagenes/Aduana.jpg" alt="">
                </div>
                <h3>SERVICIO DE ADUANAS</h3>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>

