<header
  class="header"
  style="margin-left: -8px; margin-top: -30px; margin-right: -8px; padding-top: 1.8rem;"
>
  <div class="cabecera" style="background-color: #a30c0c">
    <div class="address">
      <i class="fa-solid fa-phone-arrow-down-left"></i>
      <span class="text_link" style="padding-left: 50px">
        <a class="icon_telefono"><ion-icon name="call-outline"></ion-icon></a>
        <a
          class="nro_telefono"
          href="tel:18001234567"
          style="padding-left: 10px"
          >Central: (01) 500 7878</a
        ></span
      >
    </div>

    <section>
      <div class="cabecera__enlaces" style="color: #eeeeee">
        <p class="cabecera__enlace" (click)="iniciaSesion()">Págalo</p>
        <p class="cabecera__enlace" (click)="iniciaSesion()">Rastrea</p>
        <p class="cabecera__enlace" (click)="iniciaSesion()">Cotiza</p>
      </div>
    </section>
  </div>

  </header>
